body{ overflow-x:hidden; font-family: 'Oswald', sans-serif;}

/* COLORES DE LA PLANTILLA */

.dark_primary_color { background-color:#f1f2f1; /* FONDO GRIS CLARO */ }
.divider_color{ color:#7b7b7b; /* COLOR GRIS OSCURO */ }
.primary_color{ background-color:#FFFFFF;  }
.light_primary_color { background-color: #4da6b3; /* AZUL */ }
.text_icons{ color:#ffffff;}
.secondary_text {background-color:#ffffff;  }

/* FONT SIZE DE LA PLANTILLA */

.Font_dark_primary { font-size: 10px; }
.Font_divider{ font-size: 11px; }

/* ESTILOS DEL CINTILLO */

.iconos { display:flex; align-items:left; justify-content:left; padding-top:10px; }
.iconos img { width:25px; height:25px; }

/* ESTILOS LOGO */

.logo { text-align:center; padding-bottom: 30px; padding-top:25px; }
.btn-primary {background-color: #FFFFFF; border-color: #e7e4e4; }
.btn-primary:hover { background-color: #FFFFFF;  border-color: #e7e4e4; color:#4da6b3; }
.btn-lg { border-radius: 0px; }
.boton-registro { padding-top:10px; } 


/* ESTILOS DEL MENU */

#menu {float:left; left:50%; list-style-type:none; margin:0 auto; padding:0; position:relative;}
#menu .fondo_color_b {  position:relative; right:50%;}
#menu li a {font-size:12px; text-align:left;}
#menu li a:hover { color:#4da6b3; background-color:transparent; }
.dropdown-menu > li > a {padding: 3px 20px; font-weight: normal; white-space: nowrap;}
.navbar {position: relative;min-height: 50px;margin-bottom:0px;border: 1px solid transparent;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {background-color:#FFFFFF; color:#4da6b3;}
.navbar-default .navbar-nav .dropdown-menu a:hover{ color:#4da6b3;}
.navbar-default { background-color:white; border-bottom: 2px solid #ddd; border-top: 2px solid #ddd;}
.navbar-toggle { position: relative; float: left; padding: 12px 10px; margin-top:30px; margin-left:  15px; margin-bottom: 8px; border-radius: 0px;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color:#ffffff;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color: transparent;}
.navbar-default .navbar-toggle {border-color: #ffffff;}
.drop {min-width: 250px;height: 280px;}
.drop li { line-height:20px; text-transform:uppercase; }
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {display: block;}
  #navbar { text-align: center;} } 

/*ESTILOS DEL VERTICAL MENU */

.ace-responsive-menu li a span { font-size: 13px; text-transform:uppercase; }
.ace-responsive-menu {list-style: none;margin: 0;padding: 0;float:left;width:100%;border:1px solid #fff;        }
.ace-responsive-menu li{list-style: none;}
.ace-responsive-menu li ul {display:none;}
.ace-responsive-menu > li {display: block;margin: 0;padding: 0;border: 0px;float: left;}
.ace-responsive-menu > li > a {display: block;position: relative;margin: 0;border: 0px;padding: 10px 10px 10px 10px;text-decoration: none;font-size:10px;font-weight: 300;}
.ace-responsive-menu li.menu-active > a {color:#4da6b3;}
.ace-responsive-menu li .menu-active {position: relative;}
.ace-responsive-menu > li > a > .arrow:before { margin-left: 15px;display: inline;font-size: 16px;font-family: FontAwesome;height: auto;content: "\f107";font-weight: 300;text-shadow: none;width: 10px;display: inline-block;}
.ace-responsive-menu li ul.sub-menu li > a > .arrow:before {content: "\f105" !important;}
.ace-responsive-menu > li > ul.sub-menu {display: none; list-style: none; clear: both;margin: 0;position: absolute;}
.ace-responsive-menu li ul.sub-menu {background: #fff;  /* color fondo submenu */ border: 1px solid #ddd;z-index: 1;}
.ace-responsive-menu li ul.sub-menu > li {width: 185px;}
.ace-responsive-menu li ul.sub-menu li a {display: block;margin: 0px 0px;padding: 10px 0px 10px 0px;text-decoration: none;font-size: 13px;font-weight: normal;background: none;}
.ace-responsive-menu > li > ul.sub-menu > li {position: relative;}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu {position: absolute;left: 185px;top: 0px;display: none;list-style: none;}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {position: absolute;left: 185px;top: 0px;display: none;list-style: none;}
.ace-responsive-menu > li > ul.sub-menu li > a > .arrow:before {float: right;margin-top: 1px;margin-right: 0px;display: inline;font-size: 16px;font-family: FontAwesome;height: auto;content: "\f104";font-weight: 300;text-shadow: none;}
.menu-toggle {display: none;float: left;width: 100%;background: #fff;}
.menu-toggle .icon-bar {display: block !important;width: 18px;height: 2px;background-color: #000000 !important;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    margin: 3px;}
.menu-toggle .icon-bar:hover {background-color: #F5F5F5 !important;}
.menu-toggle #menu-btn {float: left; background: #fff; border: 1px solid #000; padding: 8px;border-radius: 0px;cursor: pointer;margin: 10px;}
.hide-menu {display: none;}
ul[data-menu-style="accordion"] {width: 250px;}
ul[data-menu-style="accordion"] > li { display: block;margin: 0;padding: 0;border: 0px;float: none !important;}
ul[data-menu-style="accordion"] > li:first-child {border-top: 2px solid #FD5025;}
ul[data-menu-style="accordion"] li ul.sub-menu > li {width: 100%;}
ul[data-menu-style="accordion"] > li > a > .arrow:before {float: right;content: "\f105";}
ul[data-menu-style="accordion"] li.menu-active > a > .arrow:before {content: "\f107" !important;}
ul[data-menu-style="accordion"] > li > ul.sub-menu {position: static;}
ul[data-menu-style="accordion"] > li > a i {padding-right: 10px;color: #FF5737;}
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu {position: static;}
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {position: static;}
ul[data-menu-style="accordion"] > li {border-bottom: 1px solid #242424;}
ul[data-menu-style="accordion"] ul.sub-menu li.menu-active > a > .arrow:before {content: "\f107" !important;}
ul[data-menu-style="vertical"] {width: 200px;}
ul[data-menu-style="vertical"] > li {float: none;}
ul[data-menu-style="vertical"] li ul.sub-menu > li {width: 100%;}
ul[data-menu-style="vertical"] > li > a > .arrow:before {float: right;content: "\f105";}
ul[data-menu-style="vertical"] > li.menu-active {position:relative;}
ul[data-menu-style="vertical"] > li > ul.sub-menu {position: absolute;left:200px;top:0px;width:200px;}
ul[data-menu-style="vertical"] > li > a i {padding-right: 10px;color: #FF5737;}
ul[data-menu-style="vertical"]> li > ul.sub-menu > li ul.sub-menu {position: absolute;width:200px;left: 200px;}
ul[data-menu-style="vertical"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {position: absolute;width:200px;left: 200px;}
ul[data-menu-style="vertical"] > li {border-bottom: 1px solid #ddd; }
/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .demo {width:96%;padding:2%;}
    ul[data-menu-style="vertical"] , ul[data-menu-style="accordion"],
    ul[data-menu-style="vertical"] li ul.sub-menu {width: 100% !important;} 
    .ace-responsive-menu {float: left;width:100%;}
    .ace-responsive-menu > li {border-bottom: 1px solid #ddd;float: none;}   
    .ace-responsive-menu > li > a > .arrow:before {float: right;content: "\f105";}
    li.menu-active > a > .arrow:before {content: "\f107" !important;}
    .ace-responsive-menu li ul.sub-menu > li {width: 100%;}
    .ace-responsive-menu li ul.sub-menu li ul.sub-menu li a{padding-left: 30px;}  
    .ace-responsive-menu li ul.sub-menu li ul.sub-menu li ul.sub-menu li a {padding-left: 50px; }  
    .ace-responsive-menu > li > ul.sub-menu {position: static;}
    .ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu {position: static;}
    .ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {position: static;}
    .ace-responsive-menu li ul.sub-menu li.menu-active > a > .arrow:before {content: "\f107" !important;}
}

/* ESTILOS BANNER-INSIDE */

.banner{display:flex; align-items:center; justify-content:center; }
.banner-inside {border-bottom: 1px solid #ddd; border-top:1px solid #ddd; border-right:1px solid #ddd; border-left:1px solid #ddd; height:30px; margin-bottom:50px; }

/* ESTILOS TITULO */

.banner-inside-a {border-bottom: 1px solid #ddd; border-top:1px solid #ddd;  height:8px; margin-bottom:30px; margin-top:10px;  }
.banner-titulo a {text-decoration:none; font-size: 21px; text-align:center;}
.banner-titulo a:hover { color: #000000; }

/* ESTILOS DE SLIDER DE PRODUCTOS */

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item{border: 1px solid #E1E1E1; border-radius:0px; background:#FFF;}
.col-item .photo img{margin: 0 auto; width: 90%;}
.col-item .info{padding: 0px;border-radius: 0 0 5px 5px;margin-top: 1px;}
.col-item:hover .info { /* background-color: #F5F5DC; */}
.col-item .price{float: left;margin-top: 5px;}
.col-item .price h5{line-height: 20px;margin: 0;padding:10px;}
.price-text-color{color: #219FD1;}
.col-item .info .rating{color: #777;}
.col-item .rating{float: left;font-size: 17px;text-align: right;line-height: 52px;margin-bottom: 10px;height: 52px;}
.col-item .separator{border-top: 1px solid #E1E1E1;}
.clear-left{clear: left;padding:10px;}
.clear-left p a { text-decoration:none; }
.clear-left p a:hover { color: #000000; }
.col-item .separator p{line-height: 20px;margin-bottom: 0;margin-top: 10px; text-align: center;}
.col-item .separator p i{ margin-right: 5px;}
.col-item .btn-add{width: 100%;float: center;}
.col-item .btn-add{border-right: none;}
.col-item .btn-details{ width: 100%;float: left;padding-left: 10px;}
.controls{margin-top: 20px;}
[data-slide="prev"]{margin-right: 10px;}
@media (min-width: 768px){.size {width: 19%; height: 1000px;} }
.btn-success {color: #ddd;border-color: #ddd;} 
.btn-success:hover { background-color: #ddd;  border-color: #ddd; }

/*ESTILOS PRODUCTO INDEX*/

.producto { padding:50px; }
.producto p{ font-family: 'Open Sans', sans-serif; }
.producto img { width:30px; height:30px; }
.img-prod { padding:50px; }
.img-prod img { width: 350px; height: 300px; }
.tit-prod {text-align: center;}
.tit-prod-borde { border-bottom: 1px solid #ddd;}

/*ESTILOS DEL FOOTER*/

.footer { padding:60px; }
.footer h4 { font-size: 15px; }
.footer p { font-family: 'Open Sans', sans-serif; font-size: 15px; }
.footer-copy { text-align:center; height: 90px; }
.footer-copy p { font-family: 'Open Sans', sans-serif; font-size:11px;}
.credit_card { width: 27px; height: 19px;background: url(../img/credictcard.png) no-repeat;display: inline-block;margin-left: 5px; }
.credit_card.western-union { background-position: -82px -98px; }
.credit_card.paypal-1 { background-position: -41px -65px; }
.credit_card.visa { background-position: -41px 1px; }
.credit_card.amazon { background-position: -123px -131px; }
.credit_card.direct-debit { background-position: -41px -98px; }
.credit_card.google { background-position: -0px -98px; }
.credit_card.maestro { background-position: -0px -33px; }
.credit_card.moneygram { background-position: -123px -98px; }

/*ESTILOS DEL SLIDER HOME #2*/

.transition-timer-carousel .carousel-caption {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); width: 100%;left: 0px;
right: 0px;bottom: 0px;text-align: left;padding-top:0px;padding-left: 15%;padding-right: 15%;font-size: 10px;}
.transition-timer-carousel .carousel-caption .carousel-caption-header {margin-top: 10px;font-size: 24px;}
@media (min-width: 970px) {.transition-timer-carousel .carousel-caption .carousel-caption-header {font-size: 36px;}}
.transition-timer-carousel .carousel-indicators {bottom: 0px;margin-bottom: 5px;}
.transition-timer-carousel .carousel-control {z-index: 11;}
.transition-timer-carousel .transition-timer-carousel-progress-bar {height: 5px; background-color:#4da6b3;width: 0%;margin: -5px 0px 0px 0px;border: none; z-index: 11;position: relative;}
.transition-timer-carousel .transition-timer-carousel-progress-bar.animate{-webkit-transition: width 4.25s linear;-moz-transition: width 4.25s linear;-o-transition: width 4.25s linear;transition: width 4.25s linear;}

/*ESTILOS SHOP ICONOS*/

.icon { display:flex; justify-content:left; align-items:left; }

/*ESTILOS IMAGEN PARALLAX*/

.parallax { background-image: url(../img/bg_shop.jpg); height:500px; background-attachment: fixed; background-position: center;background-repeat: no-repeat;background-size: cover;}

/*ESTILOS SIDEBAR DE SHOP-RIGHT-SIDEBAR*/

.list-group-item {position: relative; display: block;padding: 10px 15px;margin-bottom: -1px;border-bottom:  1px solid #ddd;border-right:  none;border-left: none;
font-family: open sans,sans-serif; font-size: 13px;}
.sidebar h5 { font-size: 18px; text-align: center; }

.filters-color span{ border: 1px solid #ddd; padding:15px; line-height:100px; font-weight:bold; /*width: 500px; */}
.filters-color span:hover { color:#000000; }
.negro { background-color:#000000; }
.gris { background-color:#dddddd; }

.filters-label { margin: 20px; }
.filters-label span{ border: 1px solid #ddd; padding:5px; line-height: 30px; font-size: 13px;}
.filters-label span:hover { background-color: #f6f6f6; color:#000000; }


/*----------------------------------*/


/*ESTILOS GALERIA DE IMAGENES*/

.indicadores span { margin:50px; }
.indicadores span img { width:100px; height:100px; border: 1px solid #ddd;}
.slideshow-container {max-width: 1000px;position: relative; }
.slideshow-container img { border: 1px solid #ddd; }
.dot {height: 15px; width: 15px; margin: 0 2px; display: inline-block;}
.fade {-webkit-animation-name: fade;-webkit-animation-duration: 1.5s;animation-name: fade;animation-duration: 1.5s;}
@-webkit-keyframes fade {from {opacity: .4} to {opacity: 1}}
@keyframes fade {from {opacity: .4} to {opacity: 1} }
.title{ font-size: 50px; }

/*ESTILOS QUANTITY*/

.quantity-remove, .quantity-add {cursor: pointer;}
.quantity-add.glyphicon, .quantity-remove.glyphicon { display: block;cursor: pointer;}
.input-group-addon {padding: 6px 12px;font-size: 14px;font-weight: 400;line-height: 1; color: #555;text-align: center;background-color: #fff;border: 1px solid #ccc;border-radius:0px;}

/*ESTILOS BUTTON QUANTITY*/

.btn { border-radius:0px; }
.iconos-redes-sociales span img { width: 25px; height: 25px; }


/*----------------------------------*/


/*ESTILOS ABOUT-US */

.parallax-a { background-image: url(../img/about-01.jpg); height:500px; background-attachment: fixed; background-position: center;background-repeat: no-repeat;background-size: cover;}

.central-img-b { background-image: url(../img/bg1.jpg); height:300px;  background-position: center;background-repeat: no-repeat;background-size: cover;  }
.caption-img-central-b { text-align:center;	padding-top:70px; }

.info-about-us { border: 3px solid #ddd; text-align:center; padding: 20px; }
.imag img { height:300px; width: 1400px; }
.img-desc { text-align:center; }
.img-desc p { font-size:12px; width:200px;font-weight:400; text-align: center; margin-left:70px;}
.img-desc h3 { text-align:center; font-size: 17px; }
.img-thumbnail { border: 1px solid #fff; }
.thumbnail span img { width:20px; height:20px; text-decoration:none; }
.thumbnail a { text-decoration:none; }
.thumbnail p { font-size: 13px; }
.caption { text-align: center; text-decoration:none;  }
.tittle-member { text-align:center;margin: 30px; }
/*.caption p { font-size: 12px; text-decoration:none;  }*/

/*ESTILOS BLOG */

.parallax-b { background-image: url(../img/blog-01.jpg); height:500px; background-attachment: fixed; background-position: center;background-repeat: no-repeat;background-size: cover;}
.thumbnail a { text-decoration:none; }
.caption-b { margin: 20px; }
.caption-b { text-decoration:none; text-align: left; line-height:20px; }
.caption-b h4 { line-height: 40px; font-weight:bold;}
.caption-b p { font-family: open sans,sans-serif; }
.parrafo { font-size:10px; }
.central-img { background-image: url(../img/contact_socials.png); height:300px;  background-position: center;background-repeat: no-repeat;background-size: cover; }
.caption-img-central { text-align:left;	padding-top:70px;}
.caption-img-central img { width:30px; height:30px; line-height:20px; }

/* ESTILOS CONTACT-US*/

.parallax-c {  background-image: url(../img/bg_contatti.jpg); height:500px; background-attachment: fixed; background-position: center;background-repeat: no-repeat;background-size: cover; }
.content-parallax { padding:30px;  }
.content-parallax span img { width: 30px; height:30px; margin: 30px; }
.content-text { display:flex; align-items: center; justify-content: center; }
.content-text p {font-family: open sans,sans-serif; font-size:13px; }
.form-control { border-radius:0px; border: 1px solid #ddd; } 
.tumb-content { display:flex; align-items: center; justify-content:center;margin-bottom:10px;}
.tumb-content p { padding-left:10px; padding-right:10px; }
.tumb-borde {  border: 1px solid #ddd; }
.tumb-content img { width:50px; height:50px; }
.titulo {text-align:center; margin-bottom:30px;}

/*ESTILOS FAQ*/

.parallax-d { background-image: url(../img/faq_bg.jpg); height:500px; background-attachment: fixed; background-position: center;background-repeat: no-repeat;background-size: cover;}
.accordion {background-color: #fff;color: #444; cursor: pointer;padding:15px; width: 100%; border: none;text-align:center;outline: none;font-size: 15px;transition: 0.4s;}
.accordion-borde button {border: 1px solid #ddd; }
.accordion:after {content: '\002B';color: #777;font-weight: bold;float: left;margin-left: 5px;}
/* .active:after { content: "\2212";}
 */.panel {padding: 0 18px;background-color: white;max-height: 0;overflow: hidden;transition: max-height 0.5s ease-out;}
.panel p { font-size: 13px;font-family: open sans,sans-serif; line-height:25px; }
.menu-span { text-align: center; padding-top:20px;  }
.menu-span a { margin:5px; border: 1px solid #ddd; padding:10px;font-size:10px; text-decoration:none; }
.menu-span a:hover { border: 1px solid #000; } 

/*ESTILOS TSTIMONIALS*/

.parallax-e { background-image: url(../img/testimonials-parallax.jpg); height:500px; background-attachment: fixed; background-position: center;background-repeat: no-repeat;background-size: cover;}

/* ESTILOS SHORTCODES */

.shortcodes h3, p { font-size: 13px; font-family: open sans,sans-serif }















